@model PagedList.IPagedList<AlventaDB.Models.Order_Detail>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчёт по продажам </h2>
<div>
    <div class="form-group float-left col-md-8">
        @using (Html.BeginForm("Index", "Order_Detail", FormMethod.Post))
        {
            <label class="col-form-label float-left" for="from">С</label>
            <input type="text" class="form-control float-left" id="from" name="from" />
            <label class="col-form-label float-left" for="to">по</label>
            <input type="text" class="form-control float-left" id="to" name="to" />
            <input type="submit" class="btn btn-primary float-left" value="Запрос" />
        }
    </div>
    <div class="form-group float-right col-md-4">
        @using (Ajax.BeginForm("Send", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <input type="email" class="form-control float-left" aria-describedby="emailHelp" placeholder="Enter email" id="email" name="email" />
            <input type="submit" class="btn btn-primary float-left" value="Отправить на почту" />
        }
        <div id="results"></div>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Номер заказа")
            </th>
            <th>
                @Html.DisplayName("Дата заказа")
            </th>
            <th>
                @Html.DisplayName("Артикул товара")
            </th>
            <th>
                @Html.DisplayName("Название товара")
            </th>
            <th>
                @Html.DisplayName("Количество реализованных единиц товара")
            </th>
            <th>
                @Html.DisplayName("Цена реализации за единицу продукции")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


