@model PagedList.IPagedList<AlventaDB.Models.Order_Detail>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отчёт по продажам </h2>
<div>
    <div>
        <form action="/Order_Detail/Index" method="post">
            <label for="from">С</label>
            <input type="text" id="from" name="from" />
            <label for="to">по</label>
            <input type="text" id="to" name="to" />
            <input type="submit" value="Запрос" />
        </form>
    </div>
    <div>
        @using (Ajax.BeginForm("Send", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <input type="email" id="email" name="email" />
            <input type="submit" value="Отправить на почту" />
        }
        <div id="results"></div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер заказа")
        </th>
        <th>
            @Html.DisplayName("Дата заказа")
        </th>
        <th>
            @Html.DisplayName("Артикул товара")
        </th>
        <th>
            @Html.DisplayName("Название товара")
        </th>
        <th>
            @Html.DisplayName("Количество реализованных единиц товара")
        </th>
        <th>
            @Html.DisplayName("Цена реализации за единицу продукции")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


